body {
    background-image: linear-gradient(to right,rgb(250, 250, 195),rgb(255, 196, 0));
}
header{
    margin-left: 5%;
    height: 500px;
    width: 1360px;
    background-image: url(./backgroung.png);
    border-radius: 20px;
    scale: 80%
}
.responsive {
    max-width: 150%;
    height: auto;
}
img {
    padding: 15px;
}

.displayBox {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.scroll-box {
    overflow-y: auto;
    height: 500px;
    float: left;
    padding: 1rem;
}